.appLayout{
    display:flex;
    flex-direction:column;
}

.top{
    color:pink;
}

.bottom{
    width:98%;
    max-width:1600px;
    display:grid;
    grid-template-columns: 1fr 4fr;
    margin: 30px 0;
    column-gap: 25px;
    min-height:600px;
}