.mainContent{
    background-color: var(--color-light-blue);
    border-radius:20px;
}

.greyBox{
     background: #f4f4f4;
     padding: 1rem; 
     overflow-x: auto; 
}

.styling{
    padding: 1.5rem; 
    max-width: 1000px; 
    margin: 0 auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
}
.title{
    display:flex;
    justify-content:center;
    align-items:center;

}