:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size:
  font-weight: 400;


  
  --color-bg-primary: #0f172a;
  --color-accent-blue: #38bdf8;
  --color-accent-green: #22c55e;
  --color-text-primary: #f8fafc;
  --color-text-secondary: #cbd5f5;
  --color-dark-contrast: #020617;
  --color-light-blue:#eef6ff;

  /*  example how to use:
  .header {
  background-color: var(--color-bg-primary);
}

a {
  color: var(--color-accent-blue);
}
  */


}

.center{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

